<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tiffany Gill - Code Test</title>
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'>
    <script src="validate.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="well bs-component">
                <form class="form-horizontal" name="credit-application" method="post" action="/application">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-3  control-label">First Name </label>
                        <div class="col-sm-9">
                            <input type="text" id="first-name" class="form-control" name="first-name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last-name" class="col-sm-3 control-label">Last Name </label>
                        <div class="col-sm-9">
                            <input type="text" id="last-name" class="form-control" name="last-name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" id="address" class="form-control" name="address" onkeyup="checkAddress(this)" required aria-required="true">
                            <span class="error-address" aria-live="polite"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssn" class="col-sm-3 control-label">Social Security Number</label>
                        <div class="col-sm-9">
                            <input type="text" id="ssn" class="form-control" name="ssn" onkeyup="checkSSN(this)" required aria-required="true">
                            <span class="error-ssn" aria-live="polite"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" class="form-control" name="email" title="Email not formatted properly" required aria-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email-confirmation" class="col-sm-3 control-label">Confirm Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="email-confirmation" class="form-control" name="email-confirmation" onblur="confirmEmail(this)" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>